<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method=post class="form-horizontal">
    <h2>Sign up </h2>
    <br>
    <input type="text" id="username" name="username" class="form-control"
           placeholder="Enter Username" value="{{ request.form.username }}"
           required>

    <input type="password" id="password" name="password" class="form-control"
           placeholder="Enter Password" value="{{ request.form.password }}"
           required>


    <input type="email" id="email" name="email" class="form-control"
           placeholder="Enter Email" value="{{ request.form.username }}"
           required>

    <button type="submit" class="btn btn-success btn-block">Signup</button>

</form>

</body>
</html>